.container{
    display: flex;
    justify-content: center;
}

.monFormulaireContact {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    color: white;
    border: 1px solid;
}

.monFormulaireContact:hover {
    box-shadow: 0 0 15px 15px rgba(196, 196, 196, 0.5);
}

form {
    border: 0px;
}


.myTextArea {
    resize: none;
}

input {
    text-align: center;
    width: 100%;
    padding: 0;
}

.ligne {
    display: flex;
    margin: 10px;
}

*[class^="colonne"]{
    width: 50%;
    padding: 10px;
}

.colonneg{
    text-align: left;
}

.colonned{
display: flex;
}


.btndiv {
    text-align: right;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
}

.btn {
    height: 30px;
    width: 100px;
    font-size: large;
    border-radius: var(--myBorderRadius);
    overflow: hidden;
    cursor: pointer;
    border: 1px gray solid;
}