:root{
    --bgImgGradientColor: #010101;
}

main{
    margin: 10%;
}

.headerImg img {
    width: 50vw;
    height: 100%;
}

.headerImg{
    background: var(--bgImgGradientColor);
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row wrap;
    gap: 2%;
}

.leftCol{
    background-color: red;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1%;
}

.centerCol{
    background-color: green;
    width: 30%;
}

.rightCol{
    background-color: blue;
    width: 40%;
}

.cardOfMyself{
    border: white solid;
}

.container h2{
    font-size: medium;
    margin: 0;
    padding: 0;
}

.centerCol  {
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    /* text-align: center; */
}

.centerCol div {
    border: solid white 1px;
}

.rightCol{
    display: flex ;
    flex-direction: column;
    /* justify-content: space-around; */

}

.topRow{
    align-self: center;
    flex-flow: flex-start;
}

.rightCol h3 {
    writing-mode : vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    /* text-orientation: sideways-left; */
}

.botRow,.midRow {
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(2, 1fr) ;
}

.botRowTitle,.midRowTitle {
    grid-area: 1/1/3/2;
}

.firstRow{
    grid-area: 1/2/2/6;
}

.secondRow{
    grid-area: 2/2/3/6;
}
